@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;  }

  :root {
    --background: 2.54 0% 100%;  /* #f8f2f2 - Rosa muy claro para el fondo */
--foreground: 2.55 59.49% 15.49%;  /* #555555 - Gris medio para textos principales */

    --card: 0 71.43% 97.25%;  /* Versión ligeramente diferente del fondo para tarjetas */
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 20% 97%; /* Igual que el background */
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 2 77% 75%; /* #ee9591 - Rosa melocotón específico */
    --primary-foreground: 0 0% 33%; /* #555555 - Gris medio para textos sobre primario */

    --secondary: 2 40% 90%; /* Rosa claro complementario */
    --secondary-foreground: 2 60% 30%;

    --muted: 0 43.55% 98.61%;   /* Versión muy clara del primario #ee9591 */
    --muted-foreground: 215.4 16.3% 46.9%; /* Versión del texto basada en el color principal */

    --accent: 2 70% 60%; /* Rosa más intenso para acentos */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 240 6% 80%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.2rem;

    --success: 196 52% 74%;
    --warning: 34 89% 85%;
    --error: 10 100% 86%;
  }

  [data-theme='dark'] {
    --background: 0 0% 0%;
    --foreground: 0 0% 90%; /* Versión clara del gris para modo oscuro */

    --card: 0 0% 4%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 2 70% 60%; /* Versión oscura del #ee9591 para modo oscuro */
    --primary-foreground: 0 0% 100%; /* Texto blanco para modo oscuro */

    --secondary: 2 30% 25%; /* Rosa oscuro complementario */
    --secondary-foreground: 2 30% 90%;

    --muted: 2 15% 20%; /* Versión oscura del primario */
    --muted-foreground: 2 50% 65%; /* Versión del texto basada en el color principal para modo oscuro */

    --accent: 2 50% 40%; /* Rosa más intenso para acentos en modo oscuro */
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 15%, 0.8;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --success: 196 100% 14%;
    --warning: 34 51% 25%;
    --error: 10 39% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
